name: slack CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 4" # 매주 목요일 13시(KST) 실행 (UTC 4시)

jobs:
  post_announcement_message:
    runs-on: ubuntu-latest

    steps:
      - name: action code checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Check if this week is an even-numbered week
        id: check_week
        run: |
          # %-U로 수정하여 08 -> 8로 인식되게 변경완료
          week_number=$(date +%-U)
          if [ $((week_number % 2)) -eq 0 ]; then
            echo "This is an even-numbered week. Proceeding."
            echo "run_job=true" >> $GITHUB_ENV
          else
            echo "This is an odd-numbered week. Skipping."
            echo "run_job=false" >> $GITHUB_ENV
          fi

      - name: run main.py
        if: env.run_job == 'true'
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
        run: python3 main.py
